/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
/*Colors var*/
/*Mixin functions*/
/*Base style*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #010d18;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

li {
  list-style-type: none;
}

.video-play-container .video-play {
  height: 35vh;
  width: 98%;
  background-color: #ffffff;
  margin: auto;
  border: 1px solid #006dce;
  border-radius: 5px;
}
.video-play-container h2 {
  margin-left: 2.5%;
}
.video-play-container .video-description {
  text-align: left;
  font-size: 0.9rem;
  width: 90%;
  margin: 1.5rem 2.5%;
}
.video-play-container .date-video {
  margin-left: 2.5%;
  color: #006dce;
}
.video-play-container .interaction {
  display: flex;
  justify-content: space-between;
  margin: 2.5%;
}
.video-play-container .interaction .like-share {
  display: flex;
}
.video-play-container .interaction .like-share .favorite {
  background-image: url(../../src/asset/image/heart.svg);
}
.video-play-container .interaction .like-share .playlist {
  background-image: url(../../src/asset/image/playlist.svg);
}
.video-play-container .interaction .like-share .share {
  background-image: url(../../src/asset/image/share.svg);
}
.video-play-container .interaction .like-share li {
  background-repeat: no-repeat;
  background-size: center;
  height: 2rem;
  width: 2rem;
  margin-left: 1.2rem;
}
.video-play-container .category-play {
  height: 2rem;
  color: #ffffff;
  border: 1px solid #006dce;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-play-container .category-play h3 {
  color: #006dce;
  font-size: 0.8rem;
  padding: 8px;
}

.player-page {
  min-height: 115vh;
}

.titreNews {
  width: 100vw;
  height: 15px;
  color: #006dce;
  padding-bottom: 10%;
}

.navigation {
  border-top: 1px solid rgba(0, 109, 206, 0.4);
  position: fixed;
  bottom: 0;
  height: 5.5vh;
  width: 100%;
}
.navigation ul {
  display: flex;
  justify-content: space-around;
}
.navigation ul .home {
  background-image: url(../../src/asset/image/iconhome.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.navigation ul .profil {
  background-image: url(../../src/asset/image/user.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.navigation ul .library {
  background-image: url(../../src/asset/image/bookmark.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.navigation ul .search {
  background-image: url(../../src/asset/image/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.navigation ul li {
  height: 5.5vh;
  width: 25vw;
  background-color: #010d18;
}
.navigation .nav-active {
  position: relative;
}
.navigation .nav-active::after {
  content: "";
  height: 4px;
  width: 0;
  background: #006dce;
  position: absolute;
  border-radius: 10px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: anim 0.3s ease forwards;
  animation: anim 0.6s ease forwards;
}
@-webkit-keyframes anim {
  to {
    width: 100%;
  }
}
@keyframes anim {
  to {
    width: 100%;
  }
}

.backButtonContainer {
  margin: 10px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginLogoContainer {
  height: 15vh;
  width: 15vh;
  position: absolute;
  top: 18vh;
  left: 16vh;
  background-color: #010d18;
  border: 1px solid #010d18;
  border-radius: 2vh;
  box-shadow: slategray;
  border-color: #00284d;
}

.loginLogo {
  position: absolute;
  bottom: 1vh;
  left: 0rem;
  height: 120px;
  width: 128px;
}

.loginImg {
  height: 30vh;
  width: 100%;
  border-radius: 2vh;
  border: solid 2px;
  border-color: #00284d;
}

.loginTitle {
  color: #ffffff;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 5vh;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 6vh;
  width: 80vw;
  border-radius: 8px;
  background-color: #011c33;
  border-color: #012748;
  color: #ffffff;
  padding-left: 2%;
  position: relative;
}
.loginInput:focus {
  outline: none;
  border-bottom: 1px solid #006dce;
}
.loginInput:focus::-moz-placeholder {
  color: transparent;
}
.loginInput:focus:-ms-input-placeholder {
  color: transparent;
}
.loginInput:focus::placeholder {
  color: transparent;
}

.loginButtonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  width: 70vw;
  height: 7vh;
  border-radius: 2vh;
  border: none;
  color: #ffffff;
  font-size: 3vh;
  font-family: "Poppins", sans-serif;
  background-color: #006dce;
  cursor: pointer;
  margin-top: 6vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.passwordContainer {
  position: relative;
  display: flex;
  justify-content: end;
}

.passwordContainer {
  display: flex;
  align-items: center;
}

.eyeContainer {
  height: 25px;
  width: 25px;
  color: #ffffff;
  right: 2%;
  position: absolute;
}
.eyeContainer .eyes {
  height: 100%;
  width: 100%;
}

.registerContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2vh;
}
.registerContainer .registerButton {
  border: none;
  background: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: large;
  margin-left: 1vh;
  text-decoration: underline;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.searchTitle {
  align-self: auto;
  margin-top: 12%;
  margin-bottom: 17px;
  align-items: flex-start;
}

.search {
  display: flex;
  align-self: center;
  width: 350px;
  height: 50px;
  font-display: center;
  text-align: center;
}

.littleTitle {
  align-self: center;
}

.libraryPage {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 20px;
}

.playlists h2 {
  padding-left: 10px;
  padding-bottom: 20px;
}
.playlists .videoContainer {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  justify-content: center;
  gap: 30px;
}
.playlists .miniatureContainer {
  height: 70px;
  width: 130px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.playlists .miniatureContainer img {
  height: 100%;
  width: 100%;
  margin-bottom: 2px;
  color: #00284d;
  border: 1px solid;
  border-radius: 1rem;
  box-shadow: #00284d 0px 3px 8px;
}

.fav h3 {
  padding-left: 10px;
  padding-bottom: 20px;
}
.fav h2 {
  padding-left: 10px;
  padding-bottom: 20px;
}
.fav .favContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fav .favVideoContainer {
  position: relative;
  height: 200px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 1rem;
  box-shadow: #00284d 0px 3px 8px;
}
.fav .favVideoContainer img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}
.fav .favVideoContainer .playButton {
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 99;
}

.slider-container {
  overflow: hidden;
  padding: 2%;
}
.slider-container .slider-wrapper {
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  margin-bottom: -20px;
  padding-bottom: 30px;
  padding-left: 5px;
}
.slider-container .slider-wrapper .slider-item {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  display: inline-flex;
  border-radius: 5px;
  margin-right: 15px;
  background-color: #006dce;
}
.slider-container .slider-wrapper .slider-item:last-child {
  margin-right: 15px;
}

.videosContainer {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  gap: 10px;
}

.boxContainer {
  border: 1px solid;
  border-radius: 1rem;
  box-shadow: #00284d 0px 3px 8px;
  height: 100px;
  width: 100%;
  display: flex;
  gap: 2%;
}
.boxContainer .miniaContainer {
  height: 100%;
  width: 40%;
}
.boxContainer .miniaContainer img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}
.boxContainer .vidInfoContainer {
  height: 100%;
  width: 60%;
}
.boxContainer .vidInfoContainer p {
  font-size: small;
  height: 50%;
  width: 100%;
  overflow: hidden;
}
.boxContainer .vidInfoContainer .categoryContainer {
  width: 70%;
  display: flex;
  gap: 5px;
  overflow: hidden;
}
.boxContainer .vidInfoContainer .categoryContainer .categoryButton {
  background-color: #010d18;
  cursor: pointer;
  height: 20%;
  width: 100%;
  border: 2px solid;
  border-radius: 2rem;
  color: #006dce;
}

.header-container {
  height: 6.2vh;
  width: 100%;
  border-bottom: 1px solid rgba(0, 109, 206, 0.4);
  margin-bottom: 0.3rem;
}
.header-container #logo {
  height: 6vh;
  width: 15vw;
  background-image: url(../../src/asset/image/logo.svg);
  background-repeat: no-repeat;
}

.comment {
  width: 98%;
  border: 1px solid rgba(0, 109, 206, 0.4);
  border-radius: 10px;
  margin: auto;
  padding-bottom: 8vh;
}
.comment input {
  padding: 0.7rem;
  width: 90%;
  margin: 1rem 5%;
  background-color: #010d18;
  border: none;
  border-bottom: 1px solid rgba(0, 109, 206, 0.4);
  color: #ffffff;
}
.comment input:focus {
  outline: 1px solid #00284d;
}
.comment input:focus::-moz-placeholder {
  color: transparent;
}
.comment input:focus:-ms-input-placeholder {
  color: transparent;
}
.comment input:focus::placeholder {
  color: transparent;
}
.comment .comment-author {
  display: flex;
  padding: 10px;
}
.comment .comment-author p {
  padding-left: 0.7rem;
}
.comment .comment-img {
  height: 6vh;
  background-color: #006dce;
  border-radius: 50px;
  width: 13.2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment .comment-message {
  margin: auto;
  font-size: 0.7rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}
.form input {
  height: 6vh;
  width: 80vw;
  border-radius: 8px;
  background-color: #011c33;
  border-color: #012748;
  color: #ffffff;
  padding-left: 2%;
  position: relative;
}
.form input:focus {
  outline: none;
  border-bottom: 1px solid #006dce;
}
.form input:focus::-moz-placeholder {
  color: transparent;
}
.form input:focus:-ms-input-placeholder {
  color: transparent;
}
.form input:focus::placeholder {
  color: transparent;
}
.form button {
  width: 70vw;
  height: 7vh;
  border-radius: 2vh;
  border: none;
  color: #ffffff;
  font-size: 3vh;
  font-family: "Poppins", sans-serif;
  background-color: #006dce;
  cursor: pointer;
  margin-top: 6vh;
}

.carrouselContainer {
  position: relative;
  left: 2vh;
  width: 90vw;
  border-radius: 1rem;
  border: solid 2px;
  border-color: #00284d;
}

.carrouselImg {
  border-radius: 1rem;
}

.profil-container {
  height: 100vh;
  background-color: #00284d;
  width: 100vw;
}
.profil-container .profil-info {
  height: 55vh;
  width: 100%;
}
.profil-container p {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}
.profil-container li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 10px;
  height: 50px;
  width: 90%;
  background-color: rgba(1, 13, 24, 0.8);
  margin: auto;
  margin-top: 10px;
}
.profil-container button {
  display: block;
  margin: auto;
  margin-top: 5vh;
  height: 50px;
  width: 90%;
  padding: 10px;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  background-color: #006dce;
}
.profil-container .avatar-container {
  height: 45vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profil-container .avatar-container .avatar {
  margin: auto;
  margin-bottom: 0;
  background-color: aliceblue;
  max-height: 100px;
  max-width: 100px;
}
.profil-container .avatar-container .avatar img {
  max-height: 100px;
  max-width: 100px;
  -o-object-fit: contain;
  object-fit: contain;
} /*# sourceMappingURL=index.css.map */
