@import "./settings";
@import "./components/video-play";
@import "./components/home";
@import "./components/navbar";
@import "./components/backButton";
@import "./components/login";
@import "./components/searchpage";
@import "./components/library";
@import "./components/playlists";
@import "./components/favorites";
@import "./components/slider";
@import "./components/videoList";
@import "./components/videoBox";
@import "./components/header";
@import "./components/comment";
@import "./components/register";
@import "./components/carrousel";
@import "./components/profil";
@import "../../../frontend/node_modules/video-react/styles/scss/video-react";
@import "./components/usersTable";
@import "./components/video-Table";
@import "./components/upload";
@import "./components/addcategory";
@import "./components/favorite-page";
@import "./components/forgot-password";
@import "./components/categoryTable";
@import "./components/profilePage";
