.upload-container {
  .file-area {
    width: 100%;
    position: relative;

    input[type="file"] {
      position: absolute;
      width: 90%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
    }

    .file-dummy {
      width: 100%;
      margin: auto;
      padding: 30px;
      background: rgba(255, 255, 255, 0.2);
      border: 2px dashed rgba(255, 255, 255, 0.2);
      text-align: center;
      transition: background 0.3s ease-in-out;

      .success {
        display: none;
      }
    }

    &:hover .file-dummy {
      background: rgba(255, 255, 255, 0.1);
    }

    input[type="file"]:focus + .file-dummy {
      outline: 2px solid rgba(255, 255, 255, 0.5);
      outline: -webkit-focus-ring-color auto 5px;
    }

    input[type="file"]:valid + .file-dummy {
      border-color: rgba(0, 225, 255, 0.4);
      background-color: $color-2;

      .success {
        display: inline-block;
      }
      .default {
        display: none;
      }
    }
  }

  h2 {
    text-align: center;
    margin: 50px auto;
    font-weight: 100;
  }

  label {
    font-weight: 500;
    display: block;
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 13px;
    overflow: hidden;

    span {
      float: right;
      text-transform: none;
      font-weight: 200;
      line-height: 1em;
      font-style: italic;
      opacity: 0.8;
    }
  }

  .form-controll {
    display: block;
    padding: 8px 16px;
    width: 100%;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-weight: 200;

    &:valid {
      outline: none;
      background-color: $color-2;
    }
  }

  button {
    padding: 8px 30px;
    background: rgba(255, 255, 255, 0.8);
    color: #053777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    border: 0;
    text-shadow: 0 1px 2px #fff;
    width: 50%;
    margin: 0 25%;
    cursor: pointer;
  }

  .form-group {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
}
