table {
  height: 500px;
  width: 80%;
  thead {
    width: 100%;
    display: flex;
    justify-content: center;
    .tableTitle {
      width: 100%;
    }
  }
  .tbody {
    tr {
      height: 80px;
    }
  }
}
