.comment {
  width: 98%;
  border: 1px solid rgba($color-1, 0.4);
  border-radius: 10px;
  margin: auto;
  padding-bottom: 8vh;
  input {
    padding: 0.7rem;
    width: 90%;
    margin: 1rem 5%;
    background-color: $black;
    border: none;
    border-bottom: 1px solid rgba($color-1, 0.4);
    color: $white;
    &:focus {
      outline: 1px solid $color-2;
      &::placeholder {
        color: transparent;
      }
    }
  }
  .comment-author {
    display: flex;
    padding: 10px;
    p {
      padding-left: 0.7rem;
    }
  }
  .comment-img {
    max-height: 100px;
    max-width: 100px;
    margin: auto;
  }
  .comment-message {
    margin: auto;
    font-size: 0.7rem;
  }
}
