.header-container {
  height: 6.2vh;
  width: 100%;
  border-bottom: 1px solid rgba($color-1, 0.4);
  margin-bottom: 0.3rem;

  #logo {
    height: 6vh;
    width: 15vw;
    background-image: url(../../src/asset/image/logo.svg);
    background-repeat: no-repeat;
  }
}
