.home-container {
  height: 100%;
  margin-bottom: 7.5vh;
  .testctn {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    .imgctn {
      width: 100%;
      position: relative;
      left: -95vh;
      z-index: -1;
      opacity: 0.2;
    }
  }
}
