@mixin flexCol {
  display: flex;
  flex-direction: column;
}

.loginContainer {
  @include flexCol;
  gap: 20px;
}

.loginLogoContainer {
  height: 15vh;
  width: 15vh;
  position: absolute;
  top: 18vh;
  left: 16vh;
  background-color: $black;
  border: 1px solid $black;
  border-radius: 2vh;
  box-shadow: slategray;
  border-color: $color-2;
}

.loginLogo {
  position: absolute;
  bottom: 1vh;
  left: 0rem;
  height: 120px;
  width: 128px;
}

.loginImg {
  height: 30vh;
  width: 100%;
  border-radius: 2vh;
  border: solid 2px;
  border-color: $color-2;
}

.loginTitle {
  color: $white;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 5vh;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.loginInput {
  height: 6vh;
  width: 37vh;
  border-radius: 8px;
  background-color: #011c33;
  border-color: #012748;
}

.loginButtonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  width: 37vh;
  height: 7vh;
  border-radius: 2vh;
  border: none;
  color: $white;
  font-size: 3vh;
  font-family: $font-1;
  background-color: $color-1;
  cursor: pointer;
  margin-top: 6vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.passwordContainer {
  position: relative;
  display: flex;
  justify-content: end;
}

.eyeContainer {
  height: 25px;
  width: 25px;
  position: absolute;
  color: $black;
}

.eyes {
  height: 100%;
  width: 100%;
}

.test {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2vh;
  .registerButton {
    border: none;
    background: none;
    color: $white;
    font-family: $font-1;
    font-size: large;
    margin-left: 1vh;
    text-decoration: underline;
  }
}
