.navContainer {
  height: 4vh;
  width: 100%;
  background-color: blue;
  position: sticky;
  bottom: 0;
  .linkList {
    display: flex;
    justify-content: space-between;
    .link {
      text-decoration: none;
      color: $white;
      .icons {
        width: 3vh;
        height: 3vh;
      }
    }
  }
}
