.profil-container {
  height: 200vh;
  background-color: $color-2;
  width: 100vw;

  .profil-info {
    height: 55vh;
    width: 100%;
  }
  p {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }
  ul {
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.5px solid rgba($white, 0.3);
      border-radius: 5px;
      padding: 10px;
      height: 50px;
      width: 90%;
      background-color: rgba($black, 0.8);
      margin: auto;
      margin-top: 10px;
    }
    button {
      display: block;
      margin: auto;
      margin-top: 5vh;
      height: 50px;
      width: 90%;
      padding: 10px;
      border: none;
      color: $white;
      border-radius: 5px;
      background-color: $color-1;
    }
  }
  .avatar-container {
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      padding: 5px;
      border-radius: 10px;
      margin: auto;
      margin-bottom: 0;

      img {
        max-height: 100px;
        max-width: 100px;
        margin: auto;
      }
      form {
        display: flex;
        flex-direction: column;
        input {
          display: none;
        }
      }
    }
  }
}
