.loginLogoContainer {
  height: 15vh;
  width: 15vh;
  top: 18vh;
  left: 16vh;
  background-color: $black;
  border: 1px solid $black;
  border-radius: 2vh;
  box-shadow: slategray;
  border-color: $color-2;
  .loginLogo {
    bottom: 1vh;
    left: 0rem;
    height: 120px;
    width: 128px;
  }
  p {
    width: 100vw;
    text-align: center;
  }
}

.loginImg {
  height: 30vh;
  width: 100%;
  border-radius: 2vh;
  border: solid 2px;
  border-color: $color-2;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .loginInput {
    height: 6vh;
    width: 80vw;
    border-radius: 8px;
    background-color: #011c33;
    border-color: #012748;
    color: $white;
    padding-left: 2%;
    position: relative;
    &:focus {
      outline: none;
      border-bottom: 1px solid $color-1;
      &::placeholder {
        color: transparent;
      }
    }
  }
}

.loginButton {
  width: 70vw;
  height: 7vh;
  border-radius: 2vh;
  border: none;
  color: $white;
  font-size: 3vh;
  font-family: $font-1;
  background-color: $color-1;
  cursor: pointer;
  margin-top: 6vh;
}

.returnContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2vh;
  .returnButton {
    border: none;
    background: none;
    color: $white;
    font-family: $font-1;
    font-size: large;
    margin-left: 1vh;
    text-decoration: underline;
  }
}
.error-message {
  text-align: center;
  width: 90%;
  color: brown;
  margin: 1rem;
}
