.pageContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 7.5vh;
}

.search {
  display: flex;
  align-self: center;
  width: 350px;
  height: 50px;
  font-display: center;
  text-align: center;
  border-radius: 0.5rem;
}
.allVids {
  @include flex-col-center;
}

.searchpage-container {
  margin-top: 2rem;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.little-title {
  margin-top: 12%;
}
