.upload-container {
  height: 100%;
  .upload-video {
    h1 {
      text-align: center;
    }

    height: 100px;

    input,
    textarea {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 6vh;
      border-radius: 8px;
      background-color: #011c33;
      border-color: #012748;
      color: $white;
      padding-left: 2%;
      position: relative;
      &:focus {
        outline: none;
        border-bottom: 1px solid $color-1;
        &::placeholder {
          color: transparent;
        }
      }
    }
    label,
    textarea {
      margin: auto;
    }
    button {
      margin: auto;
      width: 100%;
      height: 7vh;
      border-radius: 2vh;
      border: none;
      color: $white;
      font-size: 3vh;
      font-family: $font-1;
      background-color: $color-1;
      cursor: pointer;
      margin-top: 6vh;
    }
    input::file-selector-button {
      background-color: #011c33;
      background-position-x: 0%;
      background-size: 200%;
      border: 0;
      border-radius: 8px;
      color: #fff;
      padding: 1rem 1.25rem;
      text-shadow: 0 1px 1px #333;
      transition: all 0.25s;
    }
    input::file-selector-button:hover {
      background-position-x: 100%;
      transform: scale(1.1);
    }
  }
}
