.user-table-container {
  h3 {
    width: 100vw;
    text-align: center;
    margin-left: auto;
  }
  .search-user {
    display: block;
    height: 50px;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
  }
  .select-input {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    label {
      margin-right: 5px;
    }
  }
  .user-table {
    margin-bottom: 7.5vh;
    border-collapse: collapse;
    width: 100vw;
    box-shadow: 0 5px 15px $color-2;
    .user-list {
      height: 18vh;
      display: flex;
      justify-content: space-between;
      box-shadow: 0 3px 10px $color-2;
      .user-info {
        position: relative;
        margin: auto;
        margin-left: 0.5rem;
      }
      div {
      }

      ul {
        width: 100%;
        color: $white;
      }
      .user-manage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1.5rem;
        button {
          display: block;
          margin: auto;
          padding: 5px;
          border: none;
          color: $white;
          border-radius: 5px;
          background-color: $color-1;
          margin-top: 5px;
        }
        .not-delete-btn {
          display: block;
          margin: auto;
          padding: 5px;
          border: none;
          color: $white;
          border-radius: 5px;
          background-color: gray;
          margin-top: 5px;
        }
      }
    }
  }
}
