.video-play-container {
  .video-play {
    height: 35vh;
    width: 98%;
    background-color: $white;
    margin: auto;
    border: 1px solid $color-1;
    border-radius: 5px;
  }
  h2 {
    margin-top: 1.5rem;
  }
  p {
    margin: 0% 3%;
  }

  .video-description {
    min-height: 10vh;
    text-align: left;
    font-size: 0.9rem;
    width: 90%;
    margin: 1rem 3.5%;
    margin-bottom: 7%;
    font-size: 0.8rem;
    line-height: 1rem;
    word-spacing: 1px;
  }
  .date-video {
    color: $color-1;
  }
  .interaction {
    display: flex;
    justify-content: space-between;
    margin: 2.5%;
    .like-share {
      display: flex;
      button {
        background: none;
        border: none;
      }
      .favorite {
        background-image: url(../../src/asset/image/fav.png);
      }
      .no-favorite {
        background-image: url(../../src/asset/image/unfav.png);
      }
      .no-favorite,
      .favorite {
        margin-right: 1rem;
        background-size: cover;
      }

      li {
        background-repeat: no-repeat;
        background-size: center;
        height: 2rem;
        width: 2rem;
        margin-left: 1.2rem;
      }
    }
  }
  .category-play {
    height: 2rem;
    color: $white;
    border: 1px solid $color-1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      color: $color-1;
      font-size: 0.8rem;
      padding: 8px;
    }
  }
}
.player-page {
  min-height: 115vh;
}
