.image-wrapper {
  border-radius: 12px;
  overflow: hidden;
  width: 40vw;
  height: 20vh;
  position: relative;
  margin: 5vw;
  z-index: 0;
  @media screen and (min-width: 1200px) {
    width: 25vw;
    height: 25vh;
    margin: 5.5rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease-in;
  }

  &:hover img {
    transform: scale(1.125);
  }
  .image-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 16, 34, 0.8) 0%,
      rgba(240, 244, 253, 0.2) 90%
    );
    padding: 8px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .video-info-text {
    width: calc(100% - 40px);

    p {
      margin: 0;
    }
  }

  .video-name,
  .video-subtext {
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.medium {
      width: 150% !important;
      font-size: 14px;
      line-height: 24px;
      @media screen and (min-width: 1200px) {
        font-size: 1.5rem;
      }
    }

    &.tiny {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .video-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .video-subtext {
    opacity: 0.8;
  }
  .video-time {
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    padding: 4px 12px;
    background-color: rgba(139, 156, 163, 0.5);
    font-size: 10px;
    right: 12px;
    top: 12px;
    color: #fff;
    @media screen and (min-width: 1200px) {
      font-size: 1.5rem;
      background-color: rgba(139, 156, 163, 0.8);
    }
  }

  .btn-play {
    border-radius: 50%;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
      0 24px 20px -24px rgba(71, 82, 107, 0.1);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='%2322244a' stroke='%2322244a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play'%3E%3Cpolygon points='5 3 19 12 5 21 5 3'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 50%;
    margin-left: 35%;
    @media screen and (min-width: 1200px) {
      width: 60px;
      height: 60px;
      flex-shrink: 0;
      margin-top: 30%;
      margin-left: 40%;
    }
  }
}
